<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.customer.CustomerMapper">

	<select id="queryCustomer" parameterType="Map" resultType="Customer">
		select
			u.customer_id as customerId,
			u.customer_name_zh as chineseName,
			u.customer_name_en as englishName,
			u.customer_level as level,
			u.location as location,
			u.source as source,
			u.age_group as ageGroup,
			u.gender as gender,
			u.telephone as telephone,
			u.mobilephone as mobilephone,
			u.wechat as wechat,
			u.qq as qq,
			u.email as email,
			u.birthday as birthday,
			u.creat_time as creatTime,
			u.isdel as isdel
		from tm_customer u  
		where u.isdel = 0 
		<if test="chineseName != null and chineseName != ''">
                and   customer_name_zh like '%${chineseName}%' 
        </if>
        <if test="customerId != null and customerId != ''">
                and   customer_id = #{customerId}
        </if>
        <if test="englishName != null and englishName != ''">
                and   customer_name_en like '%${englishName}%' 
        </if>
        <if test="mobilephone != null and mobilephone != ''">
                and   mobilephone like '%${mobilephone}%' 
        </if>
        <if test="email != null and email != ''">
                and   email like '%${email}%' 
        </if>
        <if test="location != null and location != ''">
                and   location like '%${location}%' 
        </if>
        <if test="level != null and level != ''">
                and   customer_level = #{level}
        </if>
		order by u.creat_time desc
		limit #{start},#{length}
	</select>

	<select id="countCustomer" parameterType="Customer" resultType="long">
		select count(u.customer_id) from tm_customer u
		where
		u.isdel = 0
		<if test="chineseName != null and chineseName != ''">
                and   customer_name_zh like '%${chineseName}%' 
        </if>
        <if test="customerId != null and customerId != ''">
                and   customer_id = #{customerId}
        </if>
        <if test="englishName != null and englishName != ''">
                and   customer_name_en like '%${englishName}%' 
        </if>
        <if test="mobilephone != null and mobilephone != ''">
                and   mobilephone like '%${mobilephone}%' 
        </if>
        <if test="email != null and email != ''">
                and   email like '%${email}%' 
        </if>
        <if test="location != null and location != ''">
                and   location like '%${location}%' 
        </if>
        <if test="level != null and level != ''">
                and   customer_level = #{level}
        </if>

	</select>
	
	<insert id="saveCustomer" parameterType="Customer" flushCache="true" useGeneratedKeys="true" keyProperty="customerId" keyColumn="GENERATED_KEY">
		insert into tm_customer(
		customer_portal_id,
		customer_name_zh,
		customer_name_en,
		customer_level,
		location,
		source,
		age_group,
		gender,
		telephone,
		mobilephone,
		wechat,
		qq,
		email,
		birthday,
		creat_time,
		update_time,
		isdel
		)values(
		#{portalid,jdbcType=VARCHAR},
		#{chineseName,jdbcType=VARCHAR},
		#{englishName,jdbcType=VARCHAR},
		#{level,jdbcType=VARCHAR},
		#{location,jdbcType=VARCHAR},
		#{source,jdbcType=VARCHAR},
		#{ageGroup,jdbcType=VARCHAR},
		#{gender,jdbcType=VARCHAR},
		#{telephone,jdbcType=VARCHAR},
		#{mobilephone,jdbcType=VARCHAR},
		#{wechat,jdbcType=VARCHAR},
		#{qq,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{birthday,jdbcType=VARCHAR},
		NOW(),
		NOW(),
		0
		)
	</insert>

	<update id="updateCustomer" parameterType="Customer" flushCache="true">
		update tm_customer
		set
		customer_name_zh=#{chineseName},
		customer_name_en=#{englishName},
		customer_level=#{level},
		location=#{location},
		source=#{source},
		age_group=#{ageGroup},
		gender=#{gender},
		telephone=#{telephone},
		mobilephone=#{mobilephone},
		wechat=#{wechat},
		qq=#{qq},
		email=#{email},
		birthday=#{birthday},
		update_time=NOW()
		where
		customer_id=#{customerId}
	</update>
	
	<select id="getCustomerById" parameterType="int" resultType="Customer">
		select
		u.customer_id as customerId,
		u.customer_name_zh as chineseName,
		u.customer_name_en as englishName,
		u.customer_level as level,
		u.location as location,
		u.source as source,
		u.age_group as ageGroup,
		u.gender as gender,
		u.telephone as telephone,
		u.mobilephone as mobilephone,
		u.wechat as wechat,
		u.qq as qq,
		u.email as email,
		u.birthday as birthday,
		u.isdel as isdel
		from tm_customer u where u.customer_id = #{customerId}
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="EntityList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<update id="deleteCustomerById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_customer
		set
		isdel=1
		where
		customer_id = #{customerId}
	</update>
	
	<select id="getCustomerByEmail" parameterType="String" resultType="Customer">
		select
		u.customer_id as customerId,
		u.customer_name_zh as chineseName,
		u.customer_name_en as englishName,
		u.customer_level as level,
		u.location as location,
		u.source as source,
		u.age_group as ageGroup,
		u.gender as gender,
		u.telephone as telephone,
		u.mobilephone as mobilephone,
		u.wechat as wechat,
		u.qq as qq,
		u.email as email,
		u.birthday as birthday,
		u.isdel as isdel
		from tm_customer u where u.email = #{email}
	</select>
</mapper>