<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.customer.DemoCustomerMapper">

	<select id="queryCustomer" parameterType="Map" resultType="DemoCustomer">
		SELECT *
		FROM (
		select
		u.customer_id as customerid,
		u.customer_name_zh as zname,
		u.customer_name_en as ename,
		u.customer_level as level,
		u.location as location,
		u.promote as promote,
		u.age_group as agegroup,
		u.gender as gender,
		u.telephone as telephone,
		u.mobilephone as mobilephone,
		u.wechat as wechat,
		u.qq as qq,
		u.email as email,
		u.birthday as birthday,
		u.creat_time as creat_time,
		u.isdel as isdel
		from tm_customer u  
		where u.isdel = 0 
		<if test="pojo.seachValue!=null and pojo.seachValue!=''">
			and
			(
			u.customer_name_zh like '%${pojo.seachValue}%'
			)
		</if>
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="countCustomer" parameterType="DemoCustomer" resultType="long">
		select count(u.customer_id) from tm_customer u
		where
		u.isdel = 0
		<if test="seachValue!=null and seachValue!=''">
			and
			(
			u.customer_name_zh like '%${seachValue}%'
			)
		</if>

	</select>
	
	<insert id="saveCustomer" parameterType="DemoCustomer" flushCache="true" useGeneratedKeys="true" keyProperty="customer_id" keyColumn="GENERATED_KEY">
		insert into tm_customer(
		customer_name_zh,
		customer_name_en,
		customer_level,
		location,
		promote,
		age_group,
		gender,
		telephone,
		mobilephone,
		wechat,
		qq,
		email,
		birthday,
		creat_time,
		isdel
		)values(
		#{zname,jdbcType=VARCHAR},
		#{ename,jdbcType=VARCHAR},
		#{level,jdbcType=VARCHAR},
		#{location,jdbcType=VARCHAR},
		#{promote,jdbcType=VARCHAR},
		#{agegroup,jdbcType=VARCHAR},
		#{gender,jdbcType=VARCHAR},
		#{telephone,jdbcType=VARCHAR},
		#{mobilephone,jdbcType=VARCHAR},
		#{wechat,jdbcType=VARCHAR},
		#{qq,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{birthday,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateCustomer" parameterType="DemoCustomer" flushCache="true">
		update tm_customer
		set
		customer_name_zh=#{zname},
		customer_name_en=#{ename},
		customer_level=#{level},
		location=#{location},
		promote=#{promote},
		age_group=#{agegroup},
		gender=#{gender},
		telephone=#{telephone},
		mobilephone=#{mobilephone},
		wechat=#{wechat},
		qq=#{qq},
		email=#{email},
		birthday=#{birthday},
		update_time=NOW()
		where
		customer_id=#{customerid}
	</update>
	
	<select id="getCustomerById" parameterType="int" resultType="DemoCustomer">
		select
		u.customer_name_zh as zname,
		u.customer_name_en as ename,
		u.customer_level as level,
		u.location as location,
		u.promote as promote,
		u.age_group as agegroup,
		u.gender as gender,
		u.telephone as telephone,
		u.mobilephone as mobilephone,
		u.wechat as wechat,
		u.qq as qq,
		u.email as email,
		u.birthday as birthday,
		u.creat_time as creat_time,
		u.isdel as isdel
		from tm_customer u where u.customer_id = #{customerid}
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="DemoList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<update id="deleteCustomerById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_customer
		set
		isdel=1
		where
		customer_id = #{customerid}
	</update>
</mapper>