<?xml version="1.0" encoding="GBK" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.user.DemoUserMapper">

	<select id="queryUser" parameterType="Map" resultType="DemoUser">
		SELECT *
		FROM (
		select
		u.user_id as userid,
		u.user_name as name,
		u.loginname as loginname,
		u.password as pwd,
		u.user_email as email,
		u.mobilephone as mobilephone,
		u.creat_time as creattime,
		u.isdel as isdel
		from tm_user u where u.isdel = 0
		order by u.creat_time desc
		) table_alias
		limit #{b},#{e}
	</select>


	<select id="countUser" parameterType="DemoUser" resultType="long">
		select count(u.user_id) from tm_user u
		where
		u.isdel = 0
	</select>

	<insert id="saveUser" parameterType="DemoUser" flushCache="true" useGeneratedKeys="true" keyProperty="userid" keyColumn="GENERATED_KEY">
		insert into tm_user(
		user_name,
		loginname,
		password,
		user_email,
		mobilephone,
		creat_time,
		isdel
		)values(
		#{name,jdbcType=VARCHAR},
		#{loginname,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{mobilephone,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateUser" parameterType="DemoUser" flushCache="true">
		update tm_user
		set
		user_name=#{name},
		user_email=#{email},
		mobilephone=#{mobilephone},
		update_time=NOW()
		where
		user_id=#{userid}
	</update>

	<select id="getUserById" parameterType="int" resultType="DemoUser">
		select
		u.user_id as userid,
		u.loginname as loginname,
		u.password as pwd,
		u.user_name as name,
		u.user_email as email,
		u.mobilephone as mobilephone,
		u.creat_time as creattime,
		u.isdel as isdel
		from tm_user u where u.user_id = #{userid}
	</select>

	<update id="deleteUserById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_user
		set
		isdel=1
		where
		user_id = #{userid}
	</update>

	<select id="signin" parameterType="DemoUser" resultType="DemoUser">
		select
		u.user_id as userid,
		u.loginname as loginname,
		u.user_name as name,
		u.password as pwd,
		u.isdel as isdel
		from tm_user u where
		u.loginname = #{loginname} and u.password = #{pwd} and u.isdel = 0
	</select>
	
	<select id="validate" resultType="String">
		select  ${field} from ${table} u
		where u.${field} = #{name} 
		<if test="filter_field != null and filter_field != ''">
			and
			u.${filter_field} = #{filter_name} 
		</if>
		and u.isdel = 0
	</select>
	
</mapper>
