<?xml version="1.0" encoding="GBK" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.dept.DeptMapper">

	<select id="queryDept" parameterType="Map" resultType="Dept">
		select 
			r.deptId as deptId,
			r.name as name,
			r.area as area,
			r.phone as phone,
			r.classify as classify,
			r.createTime as createTime,
			r.isdel as isdel
		from r_dept r 
		where r.isdel = 0
		<if test="name != null and name != ''">
            and name like '%${name}%' 
        </if>
		<if test="area != null and area != ''">
            and area = #{area} 
        </if>
		<if test="classify != null and name != ''">
            and classify = #{classify} 
        </if>
		ORDER BY r.createTime DESC
		limit #{start},#{length}
	</select>

	<select id="countDept" parameterType="Dept" resultType="long">
		select count(r.deptId) from r_dept r
		where
		r.isdel = 0
		<if test="name != null and name != ''">
            and name like '%${name}%' 
        </if>
        <if test="area != null and area != ''">
            and area like '%${area}%' 
        </if>
		<if test="classify != null and name != ''">
            and classify like '%${classify}%' 
        </if>
	</select>

	<insert id="saveDept" parameterType="Dept" flushCache="true" useGeneratedKeys="true" keyProperty="deptId" keyColumn="GENERATED_KEY">
		insert into r_dept(
		name,
		area,
		phone,
		classify,
		createTime,
		updateTime,
		deptId,
		isdel
		)values(
		#{name,jdbcType=VARCHAR},
		#{area,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{classify,jdbcType=VARCHAR},
		NOW(),
		NOW(),
		#{deptId},
		0
		)
	</insert>

	<update id="updateDept" parameterType="Dept" flushCache="true">
		update r_dept
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="area != null">area=#{area},</if>
			<if test="phone != null">phone=#{phone},	</if>
			<if test="classify != null">classify=#{classify},</if>
			<if test="deptId != null">deptId=#{deptId},</if>
			updateTime=NOW(),
		</set>
		where
		deptId=#{deptId}
	</update>

	<select id="getDeptById" parameterType="int" resultType="Dept">
		select 
			r.deptId as deptId,
			r.name as name,
			r.area as area,
			r.phone as phone,
			r.classify as classify,
			r.createTime as createTime,
			r.isdel as isdel
		from r_dept r where r.isdel = 0 and deptId = #{deptId}
	</select>

	<update id="deleteDeptById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update r_dept
		set
		isdel=1,updateTime=NOW()
		where
		deptId = #{deptId}
	</update>
	
	<select id="getParameterInfo" parameterType="String" resultType="EntityList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
		ORDER BY u.para_sort desc, u.para_value
	</select>
	
</mapper>








