<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.orderrecord.OrderRecordMapper">

	<select id="queryOrderRecord" parameterType="Map" resultType="OrderRecord">
		select
			u.order_record_id as orderRecordId,
			u.order_id as orderId,
			u.sender as sender,
			u.sender_name as senderName,
			u.content as content,
			u.file_url as fileUrl,
			u.req_time as reqTime,
			u.creat_time as creatTime,
			u.isdel as isdel
		from tm_order_record u  
		where u.isdel = 0 and u.order_id = #{orderId}
		order by u.creat_time desc
		limit #{start},#{length}
	</select>

	<select id="getOrderRecord" parameterType="Map" resultType="OrderRecord">
		select
			u.order_record_id as orderRecordId,
			u.sender_name as senderName,
			u.content as content,
			u.file_url as fileUrl,
			u.req_time as reqTime,
			u.creat_time as creatTime,
			u.isdel as isdel
		from tm_order_record u  
		left join tm_order v on u.order_id = v.order_id
		where u.isdel = 0 and v.case_id = #{caseId}
		order by u.creat_time desc
		limit #{start},#{length}
	</select>
	
	<select id="countOrderRecord" parameterType="OrderRecord" resultType="long">
		select count(u.order_record_id) from tm_order_record u
		where
		u.isdel = 0
	</select>
	
	<select id="countOrderRecordByCaseid" parameterType="int" resultType="long">
		select count(u.order_record_id) from tm_order_record u
		right join tm_order v on v.order_id = u.order_id and v.case_id = #{id}
		where
		u.isdel = 0
		and u.order_record_id !=
		(select order_record_id from tm_order_record
		where order_id = u.order_id
		limit 1)
	</select>
	
	<select id="countOrderRecordByOrderid" parameterType="int" resultType="long">
		select count(u.order_record_id) from tm_order_record u
		where
		u.isdel = 0
		and u.order_record_id !=
		(select order_record_id from tm_order_record
		where order_id = u.order_id
		limit 1)
		and u.order_id = #{id}
	</select>
	
	<insert id="saveOrderRecord" parameterType="OrderRecord" flushCache="true" useGeneratedKeys="true" keyProperty="orderrecord_id" keyColumn="GENERATED_KEY">
		insert into tm_orderrecord(
		orderrecord_name,
		country,
		language,
		creat_time,
		isdel
		)values(
		#{name,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR},
		#{language,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateOrderRecord" parameterType="OrderRecord" flushCache="true">
		update tm_orderrecord
		set
		orderrecord_name=#{name},
		country=#{country},
		language=#{language},
		update_time=NOW()
		where
		orderrecord_id=#{orderRecordId}
	</update>
	
	<select id="getOrderRecordById" parameterType="int" resultType="OrderRecord">
		select
		u.orderrecord_id as orderRecordId,
		u.orderrecord_name as name,
		u.country as country,
		u.language as language,
		u.isdel as isdel
		from tm_orderrecord u where u.orderrecord_id = #{orderRecordId}
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="EntityList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<update id="deleteOrderRecordById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_orderrecord
		set
		isdel=1
		where
		orderrecord_id = #{orderRecordId}
	</update>
</mapper>