<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.parameter.DemoParameterMapper">

	<select id="queryParameter" parameterType="Map" resultType="DemoParameter">
		SELECT *
		FROM (
		select
		u.parameter_id as parameter_id,
		u.domain as domain,
		u.value as value,
		u.chinese as chinese,
		u.english as english,
		u.describe as desc,
		u.sort as sort,
		u.isdisplay as isdisplay,
		u.creat_time as creat_time,
		u.isdel as isdel
		from tm_parameter u where u.isdel = 0
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="countParameter" parameterType="DemoParameter" resultType="long">
		select count(u.parameter_id) from tm_parameter u
		where
		u.isdel = 0

	</select>
	
	<insert id="saveParameter" parameterType="DemoParameter" flushCache="true" useGeneratedKeys="true" keyProperty="Parameter_id" keyColumn="GENERATED_KEY">
		insert into tm_parameter(
		domain,
		value,
		chinese,
		english,
		describe,
		sort,
		isdisplay,
		creat_time,
		isdel
		)values(
		#{domain,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR},
		#{chinese,jdbcType=VARCHAR},
		#{english,jdbcType=VARCHAR},
		#{describe,jdbcType=VARCHAR},
		#{sort,jdbcType=VARCHAR},
		#{isdisplay,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateParameter" parameterType="DemoParameter" flushCache="true">
		update tm_parameter
		set
		value=#{value},
		chinese=#{chinese},
		english=#{english},
		describe=#{describe},
		sort=#{sort},
		isdisplay=#{isdisplay},
		update_time=NOW()
		where
		parameter_id=#{parameter_id}
	</update>
	
	<select id="getParameterById" parameterType="int" resultType="DemoParameter">
		select
		u.parameter_id as parameter_id,
		u.domain as domain,
		u.value as value,
		u.chinese as chinese,
		u.english as english,
		u.sort as sort,
		u.isdisplay as isdisplay,
		u.isdel as isdel
		from tm_parameter u where u.parameter_id = #{parameter_id}
	</select>

	<update id="deleteParameterById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_parameter
		set
		isdel=1
		where
		parameter_id = #{parameter_id}
	</update>
</mapper>