<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.parameter.ParameterMapper">

	<select id="queryParameter" parameterType="Map" resultType="Parameter">
		select
			u.para_id as parameterId,
			u.para_domain as domain,
			u.para_value as value,
			u.chinese as chinese,
			u.english as english,
			u.para_sort as sort,
			u.para_desc as depict,
			u.isdisplay as isdisplay,
			u.creat_time as creatTime,
			u.isdel as isdel
		from tm_parameter u where u.isdel = 0
		order by u.creat_time
		limit #{start},#{length}
	</select>

	<select id="countParameter" parameterType="Parameter" resultType="long">
		select count(u.para_id) from tm_parameter u
		where
		u.isdel = 0

	</select>
	
	<insert id="saveParameter" parameterType="Parameter" flushCache="true" useGeneratedKeys="true" keyProperty="parameterId" keyColumn="GENERATED_KEY">
		insert into tm_parameter(
		para_domain,
		para_value,
		chinese,
		english,
		para_desc,
		para_sort,
		isdisplay,
		creat_time,
		update_time,
		isdel
		)values(
		#{domain,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR},
		#{chinese,jdbcType=VARCHAR},
		#{english,jdbcType=VARCHAR},
		#{depict,jdbcType=VARCHAR},
		#{sort,jdbcType=VARCHAR},
		#{isdisplay,jdbcType=VARCHAR},
		NOW(),
		NOW(),
		0
		)
	</insert>

	<update id="updateParameter" parameterType="Parameter" flushCache="true">
		update tm_parameter
		set
		para_domain=#{domain},
		para_value=#{value},
		chinese=#{chinese},
		english=#{english},
		para_desc=#{depict},
		para_sort=#{sort},
		isdisplay=#{isdisplay},
		update_time=NOW()
		where
		para_id=#{parameterId}
	</update>
	
	<select id="getParameterById" parameterType="int" resultType="Parameter">
		select
		u.para_id as parameterId,
		u.para_domain as domain,
		u.para_value as value,
		u.chinese as chinese,
		u.english as english,
		u.para_desc as depict,
		u.para_sort as sort,
		u.isdisplay as isdisplay,
		u.isdel as isdel
		from tm_parameter u where u.para_id = #{parameterId}
	</select>
	
	<update id="deleteParameterById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_parameter
		set
		isdel=1
		where
		para_id = #{parameterId}
	</update>
</mapper>