<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.agency.DemoAgencyMapper">

	<select id="queryAgency" parameterType="Map" resultType="DemoAgency">
		SELECT *
		FROM (
		select
		u.agency_id as agency_id,
		u.agency_name as name,
		u.country as country,
		u.language as language,
		u.creat_time as creat_time,
		u.isdel as isdel
		from tm_agency u where u.isdel = 0
		<if test="pojo.seachValue!=null and pojo.seachValue!=''">
			and
			(
			u.agency_name like '%${pojo.seachValue}%'
			or
			u.country like '%${pojo.seachValue}%'
			or
			u.language like '%${pojo.seachValue}%'
			)
		</if>
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="countAgency" parameterType="DemoAgency" resultType="long">
		select count(u.agency_id) from tm_agency u
		where
		u.isdel = 0
		<if test="seachValue!=null and seachValue!=''">
			and
			(
			u.agency_name like '%${seachValue}%'
			or
			u.country like '%${seachValue}%'
			or
			u.language like '%${seachValue}%'
			)
		</if>

	</select>
	
	<insert id="saveAgency" parameterType="DemoAgency" flushCache="true" useGeneratedKeys="true" keyProperty="agency_id" keyColumn="GENERATED_KEY">
		insert into tm_agency(
		agency_name,
		country,
		language,
		creat_time,
		isdel
		)values(
		#{name,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR},
		#{language,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateAgency" parameterType="DemoAgency" flushCache="true">
		update tm_agency
		set
		agency_name=#{name},
		country=#{country},
		language=#{language},
		update_time=NOW()
		where
		agency_id=#{agency_id}
	</update>
	
	<select id="getAgencyById" parameterType="int" resultType="DemoAgency">
		select
		u.agency_id as agency_id,
		u.agency_name as name,
		u.country as country,
		u.language as language,
		u.isdel as isdel
		from tm_agency u where u.agency_id = #{agency_id}
	</select>
	
	<update id="deleteAgencyById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_agency
		set
		isdel=1
		where
		agency_id = #{agency_id}
	</update>
</mapper>