<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.crmcase.CaseMapper">

	<select id="queryCase" parameterType="Map" resultType="Case">
		select
			u.case_id as caseId,
			u.customer_id as customerId,
			u.budget as budget,
			u.source as source,
			u.destination as destination,
			u.status as status,
			u.operator as operator,
			u.customer_name as chineseName,
			u.customer_mobile as mobile,
			u.customer_email as email,
			u.customer_wechat as wechat,
			u.customer_qq as qq,
			u.creat_time as creatTime,
			u.reason as reason,
			u.last_comment as comment,
			u.requirement as requirement
		from tm_case u  
		where u.isdel = 0 
		<if test="customerId != null and customerId != ''">
			and customer_id = #{customerId}
		</if> 
		<if test="chineseName != null and chineseName != ''">
			and customer_name like '%${chineseName}%'
		</if> 
		<if test="caseId != null and caseId != ''">
			and case_id = #{caseId}
		</if>
		<if test="budget != null and budget != ''">
			and budget = #{budget}
		</if>
		<if test="destination != null and destination != ''">
			and destination = #{destination}
		</if>
		<if test="source != null and source != ''">
			and source = #{source}
		</if>
		<if test="operator != null and operator != ''">
			and operator = #{operator}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="comment != null and comment != ''">
			and last_comment  like '%${comment}%'
		</if> 
		<if test="requirement != null and requirement != ''">
			and requirement like '%${requirement}%'
		</if>
		<if test="email != null and email != ''">
			and customer_email  like '%${email}%'
		</if> 
		<if test="mobile != null and mobile != ''">
			and customer_mobile  like '%${mobile}%'
		</if> 
		order by u.creat_time desc
		limit #{start},#{length}
	</select>

	<select id="queryCasesByCustomerId" parameterType="Map" resultType="Case">
		select
			u.case_id as caseId,
			u.customer_id as customerId,
			u.budget as budget,
			u.source as source,
			u.destination as destination,
			u.status as status,
			u.operator as operator
		from tm_case u  
		where u.isdel = 0 and u.customer_id = #{customerId}
		order by u.creat_time
		limit #{start},#{length}
	</select>
	
	<select id="countCase" parameterType="Case" resultType="long">
		select count(u.case_id) from tm_case u
		where
		u.isdel = 0
		<if test="customerId != null and customerId != ''">
			and customer_id = #{customerId}
		</if> 
		<if test="chineseName != null and chineseName != ''">
			and customer_name like '%${chineseName}%'
		</if> 
		<if test="caseId != null and caseId != ''">
			and case_id = #{caseId}
		</if>
		<if test="budget != null and budget != ''">
			and budget = #{budget}
		</if>
		<if test="destination != null and destination != ''">
			and destination = #{destination}
		</if>
		<if test="source != null and source != ''">
			and source = #{source}
		</if>
		<if test="operator != null and operator != ''">
			and operator = #{operator}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="comment != null and comment != ''">
			and last_comment  like '%${comment}%'
		</if> 
		<if test="requirement != null and requirement != ''">
			and requirement like '%${requirement}%'
		</if>
		<if test="email != null and email != ''">
			and customer_email  like '%${email}%'
		</if> 
		<if test="mobile != null and mobile != ''">
			and customer_mobile like '%${mobile}%'
		</if> 
	</select>
	
	<select id="countCaseFC" parameterType="Case" resultType="long">
		select count(u.case_id) from tm_case u
		where
		u.isdel = 0 and u.customer_id = #{customerId}
	</select>
	
	<insert id="saveCase" parameterType="Case" flushCache="true" useGeneratedKeys="true" keyProperty="caseId" keyColumn="GENERATED_KEY">
		insert into tm_case(
			customer_id,
			customer_name,
			customer_name_en,
			customer_portal_id,
			customer_mobile,
			customer_email,
			customer_wechat,
			customer_qq,
			customer_location,
			customer_ageGroup,
			customer_gender,
			operator,
			prefer_language,
			with_who,
			adult,
			children,
			baby,
			start_time,
			start_month,
			during,
			start_date,
			end_date,
			hotel,
			meals,
			requirement,
			guide,
			budget,
			contact_type,
			sales_id,
			sales_name,
			destination,
			destination_code,
			route,
			route_id,
			submit_type,
			source,
			status,
			tailormade,
			passport,
			visa,
			flight,
			ip_address,
			creat_time,
			update_time,
			isdel
		)values(
			#{customerId,jdbcType=VARCHAR},
			#{chineseName,jdbcType=VARCHAR},
			#{englishName,jdbcType=VARCHAR},
			#{portalId,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{wechat,jdbcType=VARCHAR},
			#{qq,jdbcType=VARCHAR},
			#{location,jdbcType=VARCHAR},
			#{ageGroup,jdbcType=VARCHAR},
			#{gender,jdbcType=VARCHAR},
			#{operator,jdbcType=VARCHAR},
			#{preferLanguage,jdbcType=VARCHAR},
			#{withwho,jdbcType=VARCHAR},
			#{adult,jdbcType=VARCHAR},
			#{children,jdbcType=VARCHAR},
			#{baby,jdbcType=VARCHAR},
			#{startTime,jdbcType=VARCHAR},
			#{startMonth,jdbcType=VARCHAR},
			#{during,jdbcType=VARCHAR},
			#{startDate,jdbcType=VARCHAR},
			#{endDate,jdbcType=VARCHAR},
			#{hotel,jdbcType=VARCHAR},
			#{meals,jdbcType=VARCHAR},
			#{requirement,jdbcType=VARCHAR},
			#{guide,jdbcType=VARCHAR},
			#{budget,jdbcType=VARCHAR},
			#{contactType,jdbcType=VARCHAR},
			#{salesId,jdbcType=VARCHAR},
			#{salesName,jdbcType=VARCHAR},
			#{destination,jdbcType=VARCHAR},
			#{destinationCode,jdbcType=VARCHAR},
			#{route,jdbcType=VARCHAR},
			#{routeId,jdbcType=VARCHAR},
			#{submitType,jdbcType=VARCHAR},
			#{source,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{tailormade,jdbcType=VARCHAR},
			#{passport,jdbcType=VARCHAR},
			#{visa,jdbcType=VARCHAR},
			#{flight,jdbcType=VARCHAR},
			#{ipAddress,jdbcType=VARCHAR},
			NOW(),
			NOW(),
			0
		)
	</insert>

	<update id="updateCase" parameterType="Case" flushCache="true">
		update tm_case
		set
		prefer_language=#{preferLanguage},
		operator=#{operator},
		with_who=#{withwho},
		adult=#{adult},
		children=#{children},
		baby=#{baby},
		start_time=#{startTime},
		start_month=#{startMonth},
		during=#{during},
		start_date=#{startDate},
		end_date=#{endDate},
		hotel=#{hotel},
		meals=#{meals},
		requirement=#{requirement},
		guide=#{guide},
		budget=#{budget},
		contact_type=#{contactType},
		sales_id=#{salesId},
		sales_name=#{salesName},
		destination=#{destination},
		destination_code=#{destinationCode},
		route=#{route},
		submit_type=#{submitType},
		source=#{source},
		status=#{status},
		tailormade=#{tailormade},
		passport=#{passport},
		visa=#{visa},
		flight=#{flight},
		reason=#{reason},
		update_time=NOW()
		where
		case_id=#{caseId}
	</update>
	
	<select id="getCaseById" parameterType="int" resultType="Case">
		select
		u.case_id as caseId,
		u.customer_id as customerId, 
		customer_name as chineseName,
		customer_name_en as englishName,
		customer_portal_id as portalId,
		customer_mobile as mobile,
		customer_email as email,
		customer_wechat as wechat,
		customer_qq as qq,
		customer_location as location,
		customer_ageGroup as ageGroup,
		customer_gender as gender,
		u.operator as operator,
		u.prefer_language as preferLanguage,
		u.contact_type as contactType,
		u.with_who as withwho,
		u.adult as adult,
		u.children as children,
		u.baby as baby,
		u.start_time as startTime,
		u.start_month as startMonth,
		u.during as during,
		u.start_date as startDate,
		u.end_date as endDate,
		u.requirement as requirement,
		u.route as route,
		u.hotel as hotel,
		u.meals as meals,
		u.guide as guide,
		u.budget as budget,
		u.sales_id as salesId,
		u.destination as destination,
		u.source as source,
		u.promote_code as promoteCode,
		u.status as status,
		u.tailormade as tailormade,
		u.passport as passport,
		u.submit_type as submitType,
		u.visa as visa,
		u.flight as flight,
		u.ip_address as ipAddress,
		u.creat_time as creatTime,
		u.reason as reason,
		u.isdel
		from tm_case u where u.isdel = 0 and u.case_id = #{caseId}
	</select>
	
	<select id="getCaseByOrderId" parameterType="int" resultType="Case">
		select
		u.case_id as caseId,
		u.customer_id as customerId, 
		u.operator as operator,
		u.prefer_language as preferLanguage,
		u.contact_type as contactType,
		u.with_who as withwho,
		u.adult as adult,
		u.children as children,
		u.baby as baby,
		u.start_time as startTime,
		u.start_month as startMonth,
		u.during as during,
		u.start_date as startDate,
		u.end_date as endDate,
		u.requirement as requirement,
		u.route as route,
		u.hotel as hotel,
		u.meals as meals,
		u.guide as guide,
		u.budget as budget,
		u.sales_id as salesId,
		u.destination as destination,
		u.source as source,
		u.promote_code as promoteCode,
		u.status as status,
		u.tailormade as tailormade,
		u.passport as passport,
		u.visa as visa,
		u.flight as flight,
		u.ip_address as ipAddress,
		u.creat_time as creatTime,
		u.isdel
		from tm_case u 
		left join tm_order v
		on u.case_id = v.case_id
		where u.isdel = 0 and v.order_id = #{orderId};
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="EntityList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<select id="getParameterByCountryChinese" parameterType="String" resultType="Parameter">
		select 
		u.para_value as value,
		u.chinese as chinese
		from tm_parameter u where u.para_value=#{value}
	</select>
	
	<select id="getCustomer" parameterType="String" resultType="EntityList">
		select
		u.customer_id as id,
		u.customer_name_zh as text,
		u.isdel 
		from tm_customer u where u.isdel = 0
	</select>
	
	<select id="getCustomerById" parameterType="int" resultType="EntityList">
		select
		u.customer_id as id,
		u.customer_name_zh as text,
		u.isdel 
		from tm_customer u where u.isdel = 0 and u.customer_id = #{customerId}
	</select>

	<select id="getCustomerInfoById" parameterType="int" resultType="Customer">
		select 
		u.customer_name_zh as chineseName,
		u.customer_name_en as englishName,
		u.mobilephone as mobilephone,
		u.email as email,
		u.wechat as wechat,
		u.qq as qq,
		u.customer_portal_id as portalId,
		u.gender as gender,
		u.birthday as birthday,
		u.age_group as ageGroup,
		u.customer_level as level,
		u.isdel as isdel
		from tm_customer u  
		where u.isdel = 0 and u.customer_id = #{customerId}
	</select>
	
	<select id="getUser" parameterType="String" resultType="EntityList">
		select
		u.user_id as id,
		u.user_name as text,
		u.isdel 
		from tm_user u where u.isdel = 0 and u.role_id = 1
	</select>
	
	<select id="getAllUser" parameterType="String" resultType="EntityList">
		select
		u.user_id as id,
		u.user_name as text,
		u.isdel 
		from tm_user u where u.role_id = 1
	</select>
	
	<select id="getSales" parameterType="String" resultType="EntityList">
		select
		u.sales_id as id,
		u.sales_name as text,
		u.isdel 
		from tm_sales u where u.isdel = 0
	</select>
	
	<select id="getSalesByAgency" parameterType="String" resultType="EntityList">
		select
		u.sales_id as id,
		u.sales_name as text,
		u.isdel 
		from tm_sales u 
		left join tm_agency v on u.agency_id = v.agency_id 
		where u.isdel = 0
		and v.country = #{destination}
	</select>
	
	<select id="caseStatus" parameterType="int" resultType="int">
		select count(u.status) from tm_order u
		where u.status != 3 
		and u.case_id = #{caseId}
		and u.isdel = 0
	</select>
	
	
	
	<update id="deleteCaseById" parameterType="int" flushCache="true" statementType="PREPARED">
		update tm_case
		set
		status = 5 
		where
		case_id = #{caseId}
	</update>
	
	<select id="getCustomerByCommunication" parameterType="Case" resultType="Customer">
		select
			customer_portal_id as portalId,
			email as email,
			mobilephone as mobilephone,
			qq ,
			wechat,
			customer_id as customerId
		from tm_customer
		<where> 
			<if test="portalId != null and portalId != ''">
				customer_portal_id = #{portalId}
			</if> 
			<if test="email != null and email != ''">
				 or email = #{email} 
			</if>
			<if test="mobile != null and mobile != ''">
				or mobilephone = #{mobile} 
			</if>
			<if test="qq != null and qq != ''">
				or qq = #{qq} 
			</if>
			<if test="wechat!= null and wechat != ''">
				or wechat = #{wechat}
			</if>
		</where>
		limit 1		
	</select>
	
	<!-- 不确定Case是否可以 
	
	<update id="updateCustomer" parameterType="com.tourmade.crm.entity.Customer">
		update tm_customer
			<set>	
 　　　	   <if test="chineseName!= null and chineseName!=''" >customer_name_zh = #{chineseName},</if> 
　　　　　　<if test="englishName!= null and englishName!=''">customer_name_en = #{englishName},</if>
	      <if test="level != null and level !=''"> customer_level = #{level},</if>
		   　<if test="location != null and location!= ''"> location = #{location},</if>
		   　<if test="source != null and source!= ''"> source = #{source},</if>
		   　<if test="ageGroup != null and ageGroup!= ''"> age_group = #{ageGroup},</if>
		   　<if test="gender != null and gender!= ''"> gender = #{gender},</if>
		   　<if test="telephone != null and telephone!= ''"> telephone = #{telephone},</if>
		   　<if test="mobilephone != null and mobilephone!= ''"> mobilephone = #{mobilephone},</if>
		   　<if test="wechat != null and wechat!= ''"> wechat = #{wechat},</if>	
		   <if test="qq != null and qq!= ''"> qq = #{qq},</if>
		   <if test="email != null and email!= ''"> email = #{email},</if>
		   <if test="birthday != null and birthday!= ''"> birthday = #{birthday},</if>
		   	update_time=NOW()	   
　　　　		</set>
		where
			customer_id=#{customerId}
	</update>  -->
	
	 <update id="updateCustomer" parameterType="Customer" flushCache="true">
		update tm_customer
		set
		customer_name_zh=#{chineseName},
		customer_name_en=#{englishName},
		customer_level=#{level},
		location=#{location},
		source=#{source},
		age_group=#{ageGroup},
		gender=#{gender},
		telephone=#{telephone},
		mobilephone=#{mobilephone},
		wechat=#{wechat},
		qq=#{qq},
		email=#{email},
		birthday=#{birthday},
		update_time=NOW()
		where
		customer_id=#{customerId}
	</update> 
	
	<insert id="saveCustomer" parameterType="Case" flushCache="true" useGeneratedKeys="true" keyProperty="customerId" keyColumn="GENERATED_KEY">
		insert into tm_customer(
			customer_name_zh,
			customer_name_en,
			customer_level,
			location,
			source,
			age_group,
			gender,
			telephone,
			mobilephone,
			wechat,
			qq,
			email,
			birthday,
			creat_time,
			update_time,
			isdel
		)values(
			#{chineseName,jdbcType=VARCHAR},
			#{englishName,jdbcType=VARCHAR},
			#{level,jdbcType=VARCHAR},
			#{location,jdbcType=VARCHAR},
			#{source,jdbcType=VARCHAR},
			#{ageGroup,jdbcType=VARCHAR},
			#{gender,jdbcType=VARCHAR},
			#{telephone,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},
			#{wechat,jdbcType=VARCHAR},
			#{qq,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{birthday,jdbcType=VARCHAR},
			NOW(),
			NOW(),
			0
		)
	</insert>
</mapper>




