<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.crmcase.DemoCaseMapper">

	<select id="queryCase" parameterType="Map" resultType="DemoCase">
		SELECT *
		FROM (
		select
		u.case_id as caseid,
		u.customer_id as customerid,
		u.budget as budget,
		u.source as source,
		u.destination as destination,
		u.status as status
		from tm_case u  
		where u.isdel = 0 
		<if test="customerid != null and customerid != ''">
			and
			 u.customer_id = #{customerid}
		</if>
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="countCase" parameterType="DemoCase" resultType="long">
		select count(u.case_id) from tm_case u
		where
		u.isdel = 0
	</select>
	
	<insert id="saveCase" parameterType="DemoCase" flushCache="true" useGeneratedKeys="true" keyProperty="case_id" keyColumn="GENERATED_KEY">
		insert into tm_case(
		prefer_language,
		with_who,
		adult,
		children,
		start_time,
		start_month,
		during,
		start_date,
		end_date,
		hotel,
		meals,
		requirement,
		guide,
		budget,
		customer_name,
		contact_type,
		sales_code,
		sales_name,
		destination,
		route,
		submit_type,
		submit_id,
		source,
		status,
		creat_time,
		isdel
		)values(
		#{preferlanguage,jdbcType=VARCHAR},
		#{withwho,jdbcType=VARCHAR},
		#{adult,jdbcType=VARCHAR},
		#{children,jdbcType=VARCHAR},
		#{starttime,jdbcType=VARCHAR},
		#{startmonth,jdbcType=VARCHAR},
		#{during,jdbcType=VARCHAR},
		#{startdate,jdbcType=VARCHAR},
		#{enddate,jdbcType=VARCHAR},
		#{hotel,jdbcType=VARCHAR},
		#{meals,jdbcType=VARCHAR},
		#{requirement,jdbcType=VARCHAR},
		#{guide,jdbcType=VARCHAR},
		#{budget,jdbcType=VARCHAR},
		#{customername,jdbcType=VARCHAR},
		#{contacttype,jdbcType=VARCHAR},
		#{salescode,jdbcType=VARCHAR},
		#{salesname,jdbcType=VARCHAR},
		#{destination,jdbcType=VARCHAR},
		#{route,jdbcType=VARCHAR},
		#{submittype,jdbcType=VARCHAR},
		#{submitid,jdbcType=VARCHAR},
		#{source,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateCase" parameterType="DemoCase" flushCache="true">
		update tm_case
		set
		prefer_language=#{preferlanguage},
		with_who=#{withwho},
		adult=#{adult},
		children=#{children},
		start_time=#{starttime},
		start_month=#{startmonth},
		during=#{during},
		start_date=#{startdate},
		end_date=#{enddate},
		hotel=#{hotel},
		meals=#{meals},
		requirement=#{requirement},
		guide=#{guide},
		budget=#{budget},
		customer_name=#{customername},
		contact_type=#{contacttype},
		sales_code=#{salescode},
		sales_name=#{salesname},
		destination=#{destination},
		route=#{route},
		submit_type=#{submittype},
		submit_id=#{submitid},
		source=#{source},
		status=#{status},
		update_time=NOW()
		where
		case_id=#{caseid}
	</update>
	
	<select id="getCaseById" parameterType="int" resultType="DemoCase">
		select
		u.case_id as caseid,
		u.customer_id as customerid, 
		u.customer_name as customername,
		u.prefer_language as preferlanguage,
		u.contact_type as contacttype,
		u.with_who as withwho,
		u.adult as adult,
		u.children as children,
		u.start_time as starttime,
		u.start_month as startmonth,
		u.during as during,
		u.start_date as startdate,
		u.end_date as enddate,
		u.requirement as requirement,
		u.route as route,
		u.hotel as hotel,
		u.meals as meals,
		u.guide as guide,
		u.budget as budget,
		u.sales_name as salesname,
		u.destination as destination,
		u.source as source,
		u.status as status,
		u.creat_time as creattime,
		u.isdel
		from tm_case u where u.isdel = 0 and u.case_id = #{caseid}
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="DemoList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<select id="getCustomer" parameterType="String" resultType="DemoList">
		select
		u.customer_id as id,
		u.customer_name_zh as text,
		u.isdel 
		from tm_customer u where u.isdel = 0
	</select>

	<select id="getSales" parameterType="String" resultType="DemoList">
		select
		u.sale_id as id,
		u.sale_name as text,
		u.isdel 
		from tm_sale u where u.isdel = 0
	</select>
	
	<update id="deleteCaseById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_case
		set
		isdel=1
		where
		case_id = #{caseid}
	</update>
</mapper>