<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.crmcase.DemoCaseMapper">

	<select id="queryCase" parameterType="Map" resultType="DemoCase">
		SELECT *
		FROM (
		select
		u.case_id as caseid,
		u.customer_id as customerid,
		u.budget as budget,
		u.source as source,
		u.destination as destination,
		u.status as status,
		u.operator as operator
		from tm_case u  
		where u.isdel = 0 
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="queryCaseFC" parameterType="Map" resultType="DemoCase">
		SELECT *
		FROM (
		select
		u.case_id as caseid,
		u.customer_id as customerid,
		u.budget as budget,
		u.source as source,
		u.destination as destination,
		u.status as status,
		u.operator as operator
		from tm_case u  
		where u.isdel = 0 and u.customer_id = #{customerid}
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>
	
	<select id="countCase" parameterType="DemoCase" resultType="long">
		select count(u.case_id) from tm_case u
		where
		u.isdel = 0
	</select>
	
	<insert id="saveCase" parameterType="DemoCase" flushCache="true" useGeneratedKeys="true" keyProperty="caseid" keyColumn="GENERATED_KEY">
		insert into tm_case(
		customer_id,
		prefer_language,
		with_who,
		adult,
		children,
		baby,
		start_time,
		start_month,
		during,
		start_date,
		end_date,
		hotel,
		meals,
		requirement,
		guide,
		budget,
		contact_type,
		sales_id,
		sales_name,
		destination,
		destination_code,
		route,
		route_id,
		submit_type,
		source,
		status,
		tailormade,
		passport,
		visa,
		flight,
		ip_address,
		creat_time,
		isdel
		)values(
		#{customerid,jdbcType=VARCHAR},
		#{preferlanguage,jdbcType=VARCHAR},
		#{withwho,jdbcType=VARCHAR},
		#{adult,jdbcType=VARCHAR},
		#{children,jdbcType=VARCHAR},
		#{baby,jdbcType=VARCHAR},
		#{starttime,jdbcType=VARCHAR},
		#{startmonth,jdbcType=VARCHAR},
		#{during,jdbcType=VARCHAR},
		#{startdate,jdbcType=VARCHAR},
		#{enddate,jdbcType=VARCHAR},
		#{hotel,jdbcType=VARCHAR},
		#{meals,jdbcType=VARCHAR},
		#{requirement,jdbcType=VARCHAR},
		#{guide,jdbcType=VARCHAR},
		#{budget,jdbcType=VARCHAR},
		#{contacttype,jdbcType=VARCHAR},
		#{salesid,jdbcType=VARCHAR},
		#{salesname,jdbcType=VARCHAR},
		#{destination,jdbcType=VARCHAR},
		#{destinationcode,jdbcType=VARCHAR},
		#{route,jdbcType=VARCHAR},
		#{routeid,jdbcType=VARCHAR},
		#{submittype,jdbcType=VARCHAR},
		#{source,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{tailormade,jdbcType=VARCHAR},
		#{passport,jdbcType=VARCHAR},
		#{visa,jdbcType=VARCHAR},
		#{flight,jdbcType=VARCHAR},
		#{ipaddress,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateCase" parameterType="DemoCase" flushCache="true">
		update tm_case
		set
		prefer_language=#{preferlanguage},
		with_who=#{withwho},
		adult=#{adult},
		children=#{children},
		baby=#{baby},
		start_time=#{starttime},
		start_month=#{startmonth},
		during=#{during},
		start_date=#{startdate},
		end_date=#{enddate},
		hotel=#{hotel},
		meals=#{meals},
		requirement=#{requirement},
		guide=#{guide},
		budget=#{budget},
		contact_type=#{contacttype},
		sales_id=#{salesid},
		sales_name=#{salesname},
		destination=#{destination},
		destination_code=#{destinationcode},
		route=#{route},
		submit_type=#{submittype},
		source=#{source},
		status=#{status},
		tailormade=#{tailormade},
		passport=#{passport},
		visa=#{visa},
		flight=#{flight},
		update_time=NOW()
		where
		case_id=#{caseid}
	</update>
	
	<select id="getCaseById" parameterType="int" resultType="DemoCase">
		select
		u.case_id as caseid,
		u.customer_id as customerid, 
		u.operator as operator,
		u.prefer_language as preferlanguage,
		u.contact_type as contacttype,
		u.with_who as withwho,
		u.adult as adult,
		u.children as children,
		u.baby as baby,
		u.start_time as starttime,
		u.start_month as startmonth,
		u.during as during,
		u.start_date as startdate,
		u.end_date as enddate,
		u.requirement as requirement,
		u.route as route,
		u.hotel as hotel,
		u.meals as meals,
		u.guide as guide,
		u.budget as budget,
		u.sales_id as salesid,
		u.destination as destination,
		u.source as source,
		u.promote_code as promotecode,
		u.status as status,
		u.tailormade as tailormade,
		u.passport as passport,
		u.visa as visa,
		u.flight as flight,
		u.ip_address as ipaddress,
		u.creat_time as creattime,
		u.isdel
		from tm_case u where u.isdel = 0 and u.case_id = #{caseid}
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="DemoList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<select id="getCustomer" parameterType="String" resultType="DemoList">
		select
		u.customer_id as id,
		u.customer_name_zh as text,
		u.isdel 
		from tm_customer u where u.isdel = 0
	</select>

	<select id="getUser" parameterType="String" resultType="DemoList">
		select
		u.user_id as id,
		u.user_name as text,
		u.isdel 
		from tm_user u where u.isdel = 0
	</select>
	
	<select id="getSales" parameterType="String" resultType="DemoList">
		select
		u.sales_id as id,
		u.sales_name as text,
		u.isdel 
		from tm_sales u where u.isdel = 0
	</select>
	
	<select id="getSalesByAgency" parameterType="String" resultType="DemoList">
		select
		u.sales_id as id,
		u.sales_name as text,
		u.isdel 
		from tm_sales u 
		left join tm_agency v on u.agency_id = v.agency_id 
		where u.isdel = 0
		and v.country = #{destination}
	</select>
	
	<update id="deleteCaseById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_case
		set
		status = 5 
		where
		case_id = #{caseid}
	</update>
</mapper>