<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.sale.DemoSaleMapper">

	<select id="querySale" parameterType="Map" resultType="DemoSale">
		SELECT *
		FROM (
		select
		u.sale_id as saleid,
		u.sale_name as name,
		u.agency_id,
		u.sale_code as code,
		u.sale_email as email,
		u.creat_time as creat_time,
		v.agency_name as agency,
		u.isdel as isdel
		from tm_sale u join tm_agency v on u.agency_id = #{agency_id} where u.isdel = 0
		<if test="pojo.seachValue!=null and pojo.seachValue!=''">
			and
			(
			u.sale_name like '%${pojo.seachValue}%'
			or
			v.agency_name like '%${pojo.seachValue}%'
			or
			u.sale_code like '%${pojo.seachValue}%'
			or
			u.sale_email like '%${pojo.seachValue}%'
			)
		</if>
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="countSale" parameterType="DemoSale" resultType="long">
		select count(u.sale_id) from tm_sale u
		where
		u.isdel = 0
		<if test="seachValue!=null and seachValue!=''">
			and
			(
			u.sale_name like '%${seachValue}%'
			or
			u.agency_id like '%${seachValue}%'
			or
			u.sale_code like '%${seachValue}%'
			or
			u.sale_email like '%${seachValue}%'
			)
		</if>
	</select>
	
	<insert id="saveSale" parameterType="DemoSale" flushCache="true" useGeneratedKeys="true" keyProperty="Sale_id" keyColumn="GENERATED_KEY">
		insert into tm_sale(
		sale_name,
		agency_id,
		sale_code,
		sale_email,
		creat_time,
		isdel
		)values(
		#{name,jdbcType=VARCHAR},
		#{agency,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateSale" parameterType="DemoSale" flushCache="true">
		update tm_sale
		set
		sale_name=#{name},
		agency_id=#{agency},
		sale_email=#{email},
		update_time=NOW()
		where
		sale_id=#{saleid}
	</update>
	
	<select id="getSaleById" parameterType="int" resultType="DemoSale">
		select
		u.sale_id as saleid,
		u.sale_name as name,
		u.country as country,
		u.agency_id as agency,
		u.sale_code as code,
		u.sale_email as email,
		u.isdel as isdel
		from tm_sale u where u.sale_id = #{saleid}
	</select>
	
	<select id="getAgency" resultType="DemoList">
		select
		u.agency_id as id,
		u.agency_name as text,
		u.isdel 
		from tm_agency u where u.isdel = 0
	</select>
	

	<update id="deleteSaleById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_sale
		set
		isdel=1
		where
		sale_id = #{saleid}
	</update>
</mapper>