<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.sale.DemoSaleMapper">

	<select id="querySale" parameterType="Map" resultType="DemoSale">
		SELECT *
		FROM (
		select
		u.sales_id as salesid,
		u.sales_name as salesname,
		u.sales_email as salesemail,
		u.isdel
		from tm_sales u where u.agency_id = #{agencyid} and u.isdel = 0
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="countSale" parameterType="DemoSale" resultType="long">
		select count(u.sales_id),u.agency_id from tm_sales u
		where u.agency_id = #{agencyid} and u.isdel = 0
	</select>
	
	<insert id="saveSale" parameterType="DemoSale" flushCache="true" useGeneratedKeys="true" keyProperty="sales_id" keyColumn="GENERATED_KEY">
		insert into tm_sales(
		sales_name,
		agency_id,
		sales_email,
		creat_time,
		isdel
		)values(
		#{salesname,jdbcType=VARCHAR},
		#{agencyid,jdbcType=VARCHAR},
		#{salesemail,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateSale" parameterType="DemoSale" flushCache="true">
		update tm_sales
		set
		sales_name=#{name},
		sales_code=#{code},
		sales_email=#{email},
		update_time=NOW()
		where
		sales_id=#{salesid}
	</update>
	
	<select id="getSaleById" parameterType="int" resultType="DemoSale">
		select
		u.sales_id as salesid,
		u.sales_name as name,
		u.agency_id as agency,
		u.sales_code as code,
		u.sales_email as email,
		u.isdel as isdel
		from tm_sales u where u.sales_id = #{salesid}
	</select>
	
	<select id="getAgency" resultType="DemoList">
		select
		u.agency_id as id,
		u.agency_name as text,
		u.isdel 
		from tm_agency u where u.isdel = 0
	</select>
	

	<update id="deleteSaleById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_sales
		set
		isdel=1
		where
		sales_id = #{salesid}
	</update>
</mapper>