<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.email.DemoEmailMapper">

	<select id="queryEmail" parameterType="Map" resultType="DemoEmail">
		SELECT *
		FROM (
		select
		u.email_id as email_id,
		u.email_name as name,
		u.country as cname,
		u.language as vlanguage,
		u.creat_time as creat_time,
		v.chinese as country,
		x.chinese as language,
		u.isdel as isdel
		from tm_email u  
		left join tm_parameter v on u.country = v.para_value
		left join tm_parameter x on u.language = x.para_value
		where u.isdel = 0 and v.isdel = 0 and x.isdel = 0
		order by u.creat_time
		) table_alias
		limit #{b},#{e}
	</select>

	<select id="countEmail" parameterType="DemoEmail" resultType="long">
		select count(u.email_id) from tm_email u
		where
		u.isdel = 0

	</select>
	
	<insert id="saveEmail" parameterType="DemoEmail" flushCache="true" useGeneratedKeys="true" keyProperty="email_id" keyColumn="GENERATED_KEY">
		insert into tm_email(
		email_name,
		country,
		language,
		creat_time,
		isdel
		)values(
		#{name,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR},
		#{language,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateAlias" parameterType="int" flushCache="true">
		update tm_order
		set
		customer_email_alias=#{cea},
		agency_email_alias=#{aea},
		where
		order_id=#{orderid}
	</update>
	
	<select id="getCaseById" parameterType="int" resultType="DemoCase">
		select
		u.customer_name as customername,
		u.prefer_language as preferlanguage,
		u.contact_type as contacttype,
		u.with_who as withwho,
		u.adult as adult,
		u.children as children,
		u.start_time as starttime,
		u.start_month as startmonth,
		u.during as during,
		u.start_date as startdate,
		u.end_date as enddate,
		u.requirement as requirement,
		u.hotel as hotel,
		u.meals as meals,
		u.guide as guide,
		u.sales_name as salesname,
		u.isdel
		from tm_case u where u.isdel = 0 and u.case_id = #{caseid}
	</select>
	
	<update id="updateEmail" parameterType="DemoEmail" flushCache="true">
		update tm_email
		set
		email_name=#{name},
		country=#{country},
		language=#{language},
		update_time=NOW()
		where
		email_id=#{email_id}
	</update>
	
	<select id="getEmailById" parameterType="int" resultType="DemoEmail">
		select
		u.email_id as email_id,
		u.email_name as name,
		u.country as country,
		u.language as language,
		u.isdel as isdel
		from tm_email u where u.email_id = #{email_id}
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="DemoList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<select id="getCustomerEmail" parameterType="String" resultType="DemoList">
		select
		u.email as email
		from tm_customer u where u.isdel = 0 and u.customer_id = #{customerid}
	</select>
	
	<select id="getSalesEmail" parameterType="String" resultType="DemoList">
		select
		u.sale_email as email
		from tm_sale u where u.isdel = 0 and u.sale_id = #{salesid}
	</select>
	
	<update id="deleteEmailById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_email
		set
		isdel=1
		where
		email_id = #{email_id}
	</update>
</mapper>