<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourmade.crm.mapper.comment.DemoCommentMapper">

	<select id="queryComment" parameterType="Map" resultType="DemoComment">
		select
			u.comment_id as commentid,
			u.comment_type as type,
			u.object_id,
			u.user_id as userid,
			u.user_name as username,
			u.content as content,
			u.creat_time as creattime,
			u.isdel as isdel
		from tm_comment u  
		where u.isdel = 0 and u.comment_type = #{type} and u.object_id = #{id}
		order by u.creat_time desc
		limit #{b},#{e}
	</select>

	<select id="countComment" parameterType="DemoComment" resultType="long">
		select count(comment_id) from tm_comment 
		where isdel = 0
		and comment_type = #{commenttype}
		and object_id = ${objectid}

	</select>
	
	<insert id="saveComment" parameterType="DemoComment" flushCache="true" useGeneratedKeys="true" keyProperty="comment_id" keyColumn="GENERATED_KEY">
		insert into tm_comment(
		comment_type,
		object_id,
		user_id,
		user_name,
		content,
		creat_time,
		isdel
		)values(
		#{commenttype},
		#{objectid},
		#{userid},
		#{username},
		#{content,jdbcType=VARCHAR},
		NOW(),
		0
		)
	</insert>

	<update id="updateComment" parameterType="DemoComment" flushCache="true">
		update tm_comment
		set
		comment_name=#{name},
		country=#{country},
		language=#{language},
		update_time=NOW()
		where
		comment_id=#{comment_id}
	</update>
	
	<select id="getCommentById" parameterType="int" resultType="DemoComment">
		select
		u.comment_id as comment_id,
		u.comment_name as name,
		u.country as country,
		u.language as language,
		u.isdel as isdel
		from tm_comment u where u.comment_id = #{comment_id}
	</select>
	
	<select id="getParameterInfo" parameterType="String" resultType="DemoList">
		select
		u.para_domain,
		u.para_value as id,
		u.chinese as text,
		u.isdisplay,
		u.isdel 
		from tm_parameter u where u.isdisplay = 1 and u.isdel = 0 and u.para_domain = #{domain}
	</select>
	
	<update id="deleteCommentById" parameterType="int" flushCache="true"
		statementType="PREPARED">
		update tm_comment
		set
		isdel=1
		where
		comment_id = #{comment_id}
	</update>
</mapper>